*{
    box-sizing:border-box;
    padding: 0;
    margin:0;
}

body{
    height:100vh;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

header h1{
    height: 35px;
    color:black;
}

section{
    display:flex;
    flex-direction: column;
    
}

article{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    width:100%;
    font-size:25px;
}

p{
    display:flex;
    font-size:25px;
    padding:5px;
    justify-content: space-between;
}

hr{
    overflow: hidden;
} 

@media screen and (min-width:640px) {
    section{
        display:flex; 
        flex-direction:row;
    }

    article{
        display:flex;
        flex-direction:column;
        justify-content: stretch;
    }

    span{
        position:relative;
        left:50%;
        
    }


        
       
        

    


       